[submodule "Jusolink"]
	path = Jusolink
	url = https://github.com/linkhub-sdk/jusolink.sdk.delphi.git
[submodule "Linkhub"]
	path = Linkhub
	url = https://github.com/linkhub-sdk/linkhub.auth.delphi.git
